 /* Font Definitions */
@font-face
	{font-family:Calibri;
	panose-1:2 15 5 2 2 2 4 3 2 4;}
@font-face
	{font-family:Tahoma;
	panose-1:2 11 6 4 3 5 4 4 2 4;}
@font-face
	{font-family:"Segoe UI";
	panose-1:2 11 5 2 4 2 4 2 2 3;}
	
 /* Style Definitions */
 p.MsoNormal, li.MsoNormal, div.MsoNormal
	{margin-top:0cm;
	margin-right:0cm;
	margin-bottom:10.0pt;
	margin-left:0cm;
	line-height:115%;
	font-size:11.0pt;
	font-family:"Calibri","sans-serif";}
p.MsoList
	{margin-top:0cm;
	margin-right:0cm;
	margin-bottom:0cm;
	margin-left:10pt;
	margin-bottom:5pt;
	line-height:9.75pt;
	background:white}
span.MsoList1
	{font-size:8.5pt;
	font-family:"Calibri","sans-serif"}
a.abc
	{margin-right:5pt}
a:link, span.MsoHyperlink
	{color:#0560A6;
	text-decoration:none none;}
a:visited, span.MsoHyperlinkFollowed
	{color:purple;
	text-decoration:underline;}
.MsoChpDefault
	{font-family:"Calibri","sans-serif";}
.MsoPapDefault
	{margin-bottom:10.0pt;
	line-height:115%;}
@page WordSection1
	{size:595.3pt 841.9pt;
	margin:2.0cm 42.5pt 2.0cm 3.0cm;}
div.WordSection1
	{page:WordSection1;}
	
 /* List Definitions */
ol
	{margin-bottom:0cm;}
ul
	{margin-bottom:0cm;}
/* Table */
/* <style> */
/* table { */
    /* border-collapse: collapse; */
    /* width: 100%; */
/* } */

/* th, td { */
    /* text-align: left; */
    /* padding: 8px; */
/* } */

/* tr:nth-child(even) {background-color: #f2f2f2;} */
table {
    border-collapse: collapse;
    width: 90%;
}

th, td {
    text-align: left;
    padding: 8px;
}
th {
    background-color: blue;
    color: white;
}
tr:nth-child(even) {background-color: #f2f2f2;}


/* </style> */	